.plano-de-fundo{
    background-image: url("../imagens/p.jpg") ;
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
    overflow: hidden;
    background-color:rgba(0, 0, 0,1);/*passando o valor de 0 ate 255*/
    background-color:rgba(0, 0, 0,1);/*passando o valor de 0 ate 255*/
    object-fit: cover;
    width: 100%;
    height: 100vh; /*vh altura da visualização*/
    overflow: hidden;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../imagens/p.jpg');;
}
.card-body{
    color: aliceblue;
}
.card-title{
    color: aliceblue;
}
.h5{
    color: aliceblue;
}

.col{
    color: aliceblue;
}
.texto{
    color: black;
}



